* {
  font-family: Courier New, Blippo, fantasy;

}
html {
  height: 100%;
}

body {
  background-color: #0081af;
  border: 2px solid;
  background-image: url(https://www.holidify.com/images/cmsuploads/compressed/LakeMead_20210318235234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;

}

h1,
p {
  border: 5px;
  color: white;
  /* border-style: dashed;  */
  place-items: center;

  /* margin-top: 0%; */
}
div {
  width: auto;
  min-height: 300px;
}

ul,
li,
a {
  display: grid;
  height: max-content;
  place-items: Left;
  float: left;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
ul,
li,
a:hover {
  color: purple;
}

P {
  /* background-color: brown; */
  max-width: 700px;
  border-style: solid;
  color: white;
}

href {
  color: aliceblue;
}

footer {
  background-color: black;
  color: whitesmoke;
  margin: 1px;


}

nav{
  
}

.name {
  place-items: left;
}

/* remove border when finished */
.flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: dashed;  */
  flex-direction: column;
}

.flexbox-container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.flexbox-container-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: dashed;
  flex-direction: row;
}



.wrapper {
  max-height: 116px;
  max-width: 400px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
}

.wrapper .item {
  width: 500px;
  height: 50px;
  line-height: 110px;
  text-align: center;
}

#flexbox-list {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: grey;
  max-width: 70px;
}

@media all and (max-width: 550px) {
  body {
    background-image: url(https://c1.wallpaperflare.com/preview/866/505/167/las-vegas-vegas-stratosphere-tower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center;
  }
}

@media all and (max-width: 558px) {
  h1,
  p {
    flex-shrink: initial;
    color: black;
  }
}

@media all and (max-width: 558px) {
  h1 {
    text-decoration: underline;
  }
}

@media all and (max-width: 558px) {
  nav,
  ul,
  li {
    visibility: hidden;
  }
}

@media all and (max-width: 558px) {
  #mywork {
    color: #e5eafa;
  }
}

