*{
box-sizing: border-box;
padding: 0;
margin: 0;

}


body{
background-color: #add9f4;

}


h1,h2,h3,h4,h5{
color: antiquewhite;


}

ul{
list-style-type:none ;
    
}

section {
background-color: #0e79b2;

}

a{
text-decoration: overline;
/* background-color:#191923 ; */

}

.header li{
padding: 20px;
font-family: Blippo, fantasy;
font-size: larger;
float: right;

}

h1{
display: inline-block;
text-decoration: overline;
float: left;


}